/assignments/AssignmentPracticeProgramming5Random/target/
/assignments/AssignmentBasicProgrammingConcepts/target/
/exercises/ShapesandPerimeters/target/
/exercises/SimpleCalculator/target/
/exercises/UserIO/target/
/exercises/AddressBook/target/
/assignments/VendingMachine/target/